.header {
    
        width: 100%;
    
        text-align: center;
    
        color: #fff;
    
        background-color: #f36a97;
    
    }

div#container {

    max-width: 75em;

    margin: 0 auto;

    color: #000;

}



body {

    height: 100%;

    width: 100%;

    color: #000;

    text-align: center;

}

i {

    transition: all 0.25s;

}

h1 {

    font-size: 2em;

    cursor: default;

}

.brand {

    border-radius: 50%;

    display: inline-block;

    max-width: 6em;

}

h2 {

    font-weight: thin;

    font-size: 3em;

}

.ceo {
    border: 5px solid #5ce5ff;
}

.medium {

    max-width:70em;

    text-align:center;

    margin:auto;

}

.footer {

    color:#fff;

    background-color: #f36a97;

    padding: 4em
}

.ownerpfp {
    border-width: 4px !important;
    border-color: #f03e78 !important;
    border-style: solid !important;
  }

.directorpfp {
    border-width: 4px !important;
    border-color: #e7527a !important;
    border-style: solid !important;
  }

.supervisorpfp {
    border-width: 4px !important;
    border-color: #ff6774 !important;
    border-style: solid !important;
  }

.moderatorpfp {
    border-width: 4px !important;
    border-color: #f87777 !important;
    border-style: solid !important;
  }

.owner {
    border: 1.5px solid #f03e78;
    background-color: #f03e78;
    border-radius: 15px;
    color: white;
}

.director {
    border: 1.5px solid #e7527a;
    background-color: #e7527a;
    border-radius: 15px;
    color: white;
}

.supervisor {
    border: 1.5px solid #ff6774;
    background-color: #ff6774;
    border-radius: 15px;
    color: white;
}

.moderator {
    border: 1.5px solid #f87777;
    background-color: #f87777;
    border-radius: 15px;
    color: white;
}

.box{margin-top:2rem}br{display:none!important}.box,body,html{background:#181818}.box,.button,img.brand{box-shadow:0 0 .5rem #000}img.brand{transition:transform 1s}img.brand:hover{transform:rotate(360deg)}.box,.button,body,html,p,u{color:#fff!important}.button{background-color:rgba(0,0,0,.7)!important;border:1px solid #000!important}.director,.moderator,.owner,.supervisor{margin:1rem}.hero{padding-bottom:2rem;background-image:linear-gradient(#f36a97,#f29185)!important}